@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";





.container{
  margin-left: auto;
  margin-right: auto;
  padding-left: 4%;
  padding-right: 4%;
}

::-webkit-scrollbar {
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #E45D1F;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: #d8d0d0;
}

/* Tailwind (you can add it as custom class in tailwind.config if needed) */
.input-field {
  @apply border border-gray-300 rounded-lg px-4 py-2 w-full focus:outline-none focus:ring-2 focus:ring-[#E45D1F] placeholder-gray-500;
}


.outfit-font {
  font-family: 'Outfit', sans-serif;
}